<!doctype html>
<html lang="en" ng-app="wReader">

<head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>codename : ellis</title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <link href="css/xeditable.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->



    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="js/libs/modernizr-2.5.3.min.js"></script>

    <script src="js/libs/angular-1.0.0rc8.min.js"></script>

    <base target="_blank">
    <!-- This amazingness opens all links in a new tab. -->
</head>

<body ng-controller="AppController" class="ng-cloak" w-keydown w-space="handleSpace()" w-down="items.next()" w-up="items.prev()" w-read="toggleRead()" w-star="toggleStar()">
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->



    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" data-toggle="modal" href="#modalAbout">
          codename : ellis
        </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="divider-vertical"></li>
                    <li class="itemCount overflow"><a ng-click="showAll()">{{items.allCount()}} Items</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="itemCount overflow"><a ng-click="showUnread()">{{items.unreadCount()}} Unread</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="itemCount overflow"><a ng-click="showStarred()">{{items.starredCount()}} Starred</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="itemCount overflow"><a ng-click="showRead()">{{items.readCount()}} Read</a>
                    </li>
                    <li class="divider-vertical"></li>
                </ul>
                <form class="navbar-form navbar-left" id="navSearch">
                    <div>
                        <input type="search" ng-model="$parent.search" class="search-query form-control" placeholder="Search">
                    </div>
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <section class="mainContent">

        <section class="summaries">
            <article ng-repeat="item in items.filtered | filter: search | orderBy: 'id'" id="{{item.id}}" ng-class="{read: item.read, active: item.selected}" class="well summary" ng-click="items.selectItem($index)">

              <div class="row-fluid">
                <h3 class="pub-author">
              <span class="badge">{{$index + 1}}</span> 
                  {{item.fullName}}</h4>
                <h4>{{item.title || 'No title'}}</h4>
                <h4>{{item.company || 'No company'}}</h4>
              </div>
          </article>
        </section>

    <section class="entries">
      <article class="well entry" ng-class="{read: items.selected.read, active: items.selected.selected}" ng-hide="!items.selected">

        <div class="container-fluid">

          <!-- ACCORDION -->
        <!-- <div class="row">
                <div>
                  <p>
                    <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
                    <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
                  </p>

                  <label class="checkbox">
                    <input type="checkbox" ng-model="oneAtATime">
                    Open only one at a time
                  </label>
                  <accordion close-others="oneAtATime">
                    <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                      This content is straight in the template.
                    </accordion-group>
                    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                      {{group.content}}
                    </accordion-group>
                    <accordion-group heading="Dynamic Body Content">
                      <p>The body of the accordion group grows to fit the contents</p>
                        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                        <div ng-repeat="item in items">{{item}}</div>
                    </accordion-group>
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </accordion-heading>
                        This is just some content to illustrate fancy headings.
                    </accordion-group>
                  </accordion>
                </div>
        </div> -->
                <!-- ACCORDION -->

          <div class="row">
          <h2 class="content-header">Lead Info</h2>
            <div class="span4 actions">
              <span class="glyphicon glyphicon-cloud-upload"></span>
              <input type="checkbox" class="read" ng-model="items.selected.read">
              <input type="checkbox" class="star" ng-model="items.selected.starred">
              <a href="{{items.selected.item_link}}"><i class="icon-share"></i></a>
            </div>
            <div class="wrapper">
                <table class="table table-responsive form-group">
                  <theader>
                    <th>Lead Name</th>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Lead Source</th>
                    <th>Created Date</th>
                  </theader>
                  <tr>
                    <td>
                      <h2><a href="#" buttons="no" editable-text="items.selected.firstName"  onaftersave="processForm()">{{items.selected.firstName || 'Enter first name'}}</a> <a href="#" buttons="no" editable-text="items.selected.lastName"  onaftersave="processForm()">{{items.selected.lastName || 'Enter last name'}}</a></h2>
                    </td>
                    <td>
                      <h2><a href="#" buttons="no" editable-text="items.selected.title" onaftersave="processForm()">{{items.selected.title || 'Enter title'}}</a></h2>
                    </td>
                    <td>
                      <h2><a href="#" buttons="no" editable-text="items.selected.company" onaftersave="processForm()">{{items.selected.company || 'Enter company'}}</a></h2>
                    </td>
                    <td>
                      <h2><a href="#" buttons="no" editable-text="items.selected.leadSource" onaftersave="processForm()">{{items.selected.leadSource || 'Enter lead source'}}</a></h2>
                    </td>
                    <td>
                      <h2><a href="#" buttons="no" editable-text="items.selected.createdDate" onaftersave="processForm()">{{items.selected.createdDate || 'Enter created date'}}</a></h2>
                    </td>
                  </tr>
                  <tr>
                    <tr>
                      <th>Lead Owner</th><th>Campaign</th><th>Campaign Status</th><th>Notes</th><th>Account Matched</th>
                    </tr>
                    <td>
                      <a href="#" buttons="no" editable-text="items.selected.leadOwner" onaftersave="processForm()">{{items.selected.leadOwner || 'Enter lead owner'}}</a>
                    </td>
                    <td>
                      <a href="#" buttons="no" editable-text="items.selected.campaignName" onaftersave="processForm()">{{items.selected.campaignName || 'Enter campaign name'}}</a>
                    </td>
                    <td>
                      <a href="#" buttons="no" editable-text="items.selected.campaignStatus" onaftersave="processForm()">{{items.selected.campaignStatus || 'Enter campaign status'}}</a>
                    </td>
                    <td>
                      <a href="#" buttons="no" editable-text="items.selected.notes" onaftersave="processForm()">{{items.selected.notes || 'Enter notes'}}</a>
                    </td>
                    <td>
                      <a href="#" buttons="no" editable-text="items.selected.accountMatched" onaftersave="processForm()">{{items.selected.accountMatched || 'Enter account matched'}}</a>
                    </td>
                  </tr>
                </table>
            </div>

          </div>
           <!--  <div class="span8">{{items.selected.search_date | formattedDate}} - {{items.selected.pub_name}}</div> -->
            

          <!-- <hr /> -->
        <!-- <div>
          <pre>
            {{items.selected.companyAccount}}<br>
            {{items.selected.email}}
          </pre>
        </div> -->
        <div class="row">
          <h2 class="content-header">LinkedIn Info</h2>
          <h4>Searched For: "{{items.selected.firstName}} {{items.selected.lastName}} {{items.selected.company}}" - {{items.selected.liSearchResults.length}} Result(s)</h4>
          <div class="wrapper">
            <table class="table table-striped table-hover table-responsive">
              <theader>
                <th>No.</th>
                <th></th>
                <th>First Name</th>
                <th></th>
                <th>Last Name</th>
                <th></th>
                <th>Title</th>
                <th></th>
                <th>Current Company</th>
                <th>Location</th>
                <th>Select All</th>
                <th>View in LI</th>
              </theader>
              <tbody>
              <tr ng-repeat="item in items.selected.liSearchResults">
                <td>
                  <span class="badge">{{$index + 1}}</span>
                </td>
                <td>
                  <button class="btn btn-default btn-md" ng-click = "chooseClicked(item.firstName)"><span class="glyphicon glyphicon-circle-arrow-up"></span></button>
                </td>
                <td>{{item.firstName | words:2}}</td>
                <td>
                  <button class="btn btn-default btn-md" ng-click = "chooseClicked(item.lastName)"><span class="glyphicon glyphicon-circle-arrow-up"></span></button>
                </td>
                <td>{{item.lastName}} <i class="icon-plus-sign"></i>
                </td>
                <td>
                  <button class="btn btn-default btn-md" ng-click = "chooseClicked(item.currentTitle)"><span class="glyphicon glyphicon-circle-arrow-up"></span></button>
                </td>
                <td> {{item.currentTitle | characters:50}}
                </td>
                <td>
                  <button class="btn btn-default btn-md" ng-click = "chooseClicked(item.currentTitle)"><span class="glyphicon glyphicon-circle-arrow-up"></span></button>
                </td>
                <td>{{item.currentCompany}}
                </td>
                <td>{{item.location}}
                </td>
                <td>
                  <button class="btn btn-default"><span class="glyphicon glyphicon-upload"></span></button>
                </td>
                <td>
                  <span class="glyphicon glyphicon-share"></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <h2 class="content-header">SFDC Info</h2>
          <h5>Searched For: {{items.selected.firstName}} {{items.selected.lastName}} {{items.selected.company}}</h5>
          <div class="wrapper">
            <table class="table table-responsive">
              <theader>
                <td>LI Result No.</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Title</td>
                <td>Location</td>
                <td>Industry</td>
                <td>Select All</td>
                <td>View in LI</td>
              </theader>
              <tr ng-repeat="item in items.selected.liSearchResults">
                <td>
                  <span class="badge">{{$index + 1}}</span>
                </td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}} <i class="icon-plus-sign"></i>
                </td>
                <td>{{item.title}} <i class="icon-plus-sign"></i>
                </td>
                <td>{{item.location}} <i class="icon-plus-sign"></i>
                </td>
                <td>{{item.industry}} <i class="icon-plus-sign"></i>
                </td>
                <td>
                  <button class="btn btn-default"><span class="glyphicon glyphicon-upload"></span></button>
                </td>
                <td>
                  <span class="glyphicon glyphicon-share"></span>
                  </td>
              </tr>
            </table>
          </div>
        </div>

        </div>
      </article>
      <div class="nothingSelected" ng-show="!items.filtered.length || !items.selected">
        <img src="img/sadpanda.png" alt="Sad Panda" title="Sad Panda">
        <p>Nothing selected.</p>
      </div>

    </section>
  </section>

  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div class="modal fade" id="modalAbout">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>About ellis...</h3>
                </div>
                <div class="modal-body">
                    <p>Project Lead Smasher (LS : ellis) by <a href="mailto:enaff@clearslide.com">Eddie Naff</a>.</p>
                    <p>Original WReader by <a href="http://petelepage.com">Pete LePage</a>.</p>
                    <p>Angular port by <a href="http://ericbidelman.com">Eric Bidelman</a>.</p>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn btn-primary">Close</a>
                </div>
                </div>
                </div>
                </div>

                <footer>

                </footer>
                </script>
                <script src="js/libs/jquery-2.1.1.js"></script>
                <!-- // <script src="js/libs/bootstrap.min.js"></script>
  // <script src="js/libs/bootstrap-alerts.js"></script> -->
                <!-- Latest compiled and minified JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
                <!-- <script src="js/plugins.js"></script> -->
                <!-- // <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.1.3/less-1.1.3.min.js"></script> -->
                <script src="js/libs/lawnchair-0.6.1.min.js"></script>
                <script src="js/libs/lawnchair-adapter-indexed-db-0.6.1.js"></script>
                <script src="js/libs/lawnchair-adapter-webkit-sqlite-0.6.1.js"></script>
                <script src="js/libs/lawnchair-pagination-0.6.1.js"></script>
                <script src="js/libs/moment-1.4.0.min.js"></script>
                <script src="js/app.js"></script>
                <script src="js/filters.js"></script>
                <script src="js/services.js"></script>
                <script src="js/directives.js"></script>
                <script src="js/libs/xeditable.js"></script>
                <script src="js/libs/ui-bootstrap-0.12.1.js"></script>
                <script src="js/libs/ui-bootstrap-tpls-0.12.1.js"></script>
                <script src="js/libs/truncate.js"></script>

                <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->

                <!--<script>
    var _gaq=[['_setAccount','UA-29459980-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>-->
</body>

</html>
